COVID-19.json
[{"id":"e609e458.c56298","type":"tab","label":"Dashboard COVID-19","disabled":false,"info":""},{"id":"13e5d9af.912086","type":"ui_gauge","z":"e609e458.c56298","name":"","group":"ee743a8d.e646c8","order":2,"width":"7","height":"5","gtype":"gage","title":"Casos Confirmados","label":"","format":"{{value}}","min":0,"max":"1000000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1310,"y":160,"wires":[]},{"id":"4493b8fc.266b48","type":"function","z":"e609e458.c56298","name":"","func":"confirmados = 0;\n\nmsg.payload.Countries.map(function(line){\n    confirmados += line.TotalConfirmed;\n});\n\nmsg.payload = confirmados;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":160,"wires":[["13e5d9af.912086"]]},{"id":"6f67ea3.f972314","type":"inject","z":"e609e458.c56298","name":"Actualización ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":520,"y":780,"wires":[["94a379ad.f89a08","18cce53a.88756b"]]},{"id":"94a379ad.f89a08","type":"http request","z":"e609e458.c56298","name":"Resumen - Covid-19","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.covid19api.com/summary","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":720,"wires":[["4493b8fc.266b48","57937ea.638168","167d79d6.43c536","2dc51d92.b1ec82","a2053a23.8c3b88","4de31c9b.f310a4","50c8a7df.e4c128","9b79654a.220018","bc6dcb34.33cdb8","b8d30d45.12c66","f4e53e97.b345f","b38698c4.269dc8","71d3748f.d8d76c","4c4ff0db.ffe1"]]},{"id":"656e4bef.109d84","type":"ui_gauge","z":"e609e458.c56298","name":"","group":"1d7cabf3.8d6a94","order":4,"width":"7","height":"5","gtype":"gage","title":"Muertos","label":"","format":"{{value}}","min":0,"max":"100000","colors":["#c13421","#d40015","#ca3838"],"seg1":"","seg2":"","x":1280,"y":240,"wires":[]},{"id":"57937ea.638168","type":"function","z":"e609e458.c56298","name":"","func":"muertes = 0;\n\nmsg.payload.Countries.map(function(line){\n    muertes += line.TotalDeaths;\n});\n\nmsg.payload = muertes;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":240,"wires":[["656e4bef.109d84"]]},{"id":"167d79d6.43c536","type":"function","z":"e609e458.c56298","name":"","func":"recuperados = 0;\n\nmsg.payload.Countries.map(function(line){\n    recuperados += line.TotalRecovered;\n});\n\nmsg.payload = recuperados;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":320,"wires":[["f9a91133.83116"]]},{"id":"2dc51d92.b1ec82","type":"function","z":"e609e458.c56298","name":"","func":"paises = 0;\n\nmsg.payload.Countries.map(function(line){\n    paises += 1;  // Sumamos todos los elementos (paises)\n});\n\nmsg.payload = paises;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":400,"wires":[["f27457f.a9875a8"]]},{"id":"de52ac01.a1cf2","type":"trigger","z":"e609e458.c56298","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"1 seg trigger","x":570,"y":700,"wires":[["94a379ad.f89a08"]]},{"id":"9fd8ced8.fe349","type":"ui_ui_control","z":"e609e458.c56298","name":"","events":"change","x":400,"y":700,"wires":[["de52ac01.a1cf2"]]},{"id":"58ff3f1c.9b9b4","type":"comment","z":"e609e458.c56298","name":"COVID-19 Resumen","info":"","x":390,"y":120,"wires":[]},{"id":"ab7c6c95.3208d","type":"ui_gauge","z":"e609e458.c56298","name":"","group":"ea0b60f1.345db","order":2,"width":"7","height":"5","gtype":"gage","title":"Casos Confirmados","label":"","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1310,"y":780,"wires":[]},{"id":"a2053a23.8c3b88","type":"function","z":"e609e458.c56298","name":"","func":"confirmados = 0;\n\nmsg.payload.Countries.map(function(line){\n   if (line.Country == \"Spain\"){\n        confirmados += line.TotalConfirmed;\n    }\n});\n\nmsg.payload = confirmados;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":780,"wires":[["ab7c6c95.3208d"]]},{"id":"a2465f56.dbd48","type":"ui_gauge","z":"e609e458.c56298","name":"","group":"61b31bac.a357f4","order":4,"width":"7","height":"5","gtype":"gage","title":"Muertos","label":"","format":"{{value}}","min":0,"max":"10000","colors":["#c13421","#d40015","#ca3838"],"seg1":"","seg2":"","x":1280,"y":860,"wires":[]},{"id":"4de31c9b.f310a4","type":"function","z":"e609e458.c56298","name":"","func":"muertes = 0;\n\nmsg.payload.Countries.map(function(line){\n   if (line.Country == \"Spain\"){\n        muertes += line.TotalDeaths;\n    }\n});\n\nmsg.payload = muertes;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":860,"wires":[["a2465f56.dbd48"]]},{"id":"f2b1203a.35774","type":"ui_gauge","z":"e609e458.c56298","name":"","group":"d1100ab5.7f5848","order":3,"width":"7","height":"5","gtype":"gage","title":"Recuperados","label":"","format":"{{value}}","min":0,"max":"20000","colors":["#c22f0c","#e6e600","#00be00"],"seg1":"","seg2":"","x":1290,"y":940,"wires":[]},{"id":"50c8a7df.e4c128","type":"function","z":"e609e458.c56298","name":"","func":"recuperados = 0;\n\nmsg.payload.Countries.map(function(line){\n   if (line.Country == \"Spain\"){\n        recuperados += line.TotalRecovered;\n    }\n});\n\nmsg.payload = recuperados;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":940,"wires":[["f2b1203a.35774"]]},{"id":"9b79654a.220018","type":"function","z":"e609e458.c56298","name":"","func":"confirmados = 0;\n\nmsg.payload.Countries.map(function(line){\n   if (line.Country == \"Spain\"){\n        confirmados += line.NewConfirmed;\n    }\n});\n\nmsg.payload = confirmados;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1020,"wires":[["cf17e4fb.ff0e78"]]},{"id":"c7cf7e0e.a666d","type":"ui_gauge","z":"e609e458.c56298","name":"","group":"48daddd6.8f47f4","order":1,"width":"7","height":"5","gtype":"gage","title":"Nuevos Muertos","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#ee7b00","#e43135","#f23030"],"seg1":"","seg2":"","x":1300,"y":1100,"wires":[]},{"id":"bc6dcb34.33cdb8","type":"function","z":"e609e458.c56298","name":"","func":"muertes = 0;\n\nmsg.payload.Countries.map(function(line){\n   if (line.Country == \"Spain\"){\n        muertes += line.NewDeaths;\n    }\n});\n\nmsg.payload = muertes;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1100,"wires":[["c7cf7e0e.a666d"]]},{"id":"b8d30d45.12c66","type":"function","z":"e609e458.c56298","name":"","func":"recuperados = 0;\n\nmsg.payload.Countries.map(function(line){\n   if (line.Country == \"Spain\"){\n        recuperados += line.NewRecovered;\n    }\n});\n\nmsg.payload = recuperados;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1180,"wires":[["9191f057.6f7f9"]]},{"id":"f4e53e97.b345f","type":"function","z":"e609e458.c56298","name":"","func":"confirmados = 0;\n\nmsg.payload.Countries.map(function(line){\n    confirmados += line.NewConfirmed;\n});\n\nmsg.payload = confirmados;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":480,"wires":[["517a9805.9a1f58"]]},{"id":"268edd5d.b434a2","type":"ui_gauge","z":"e609e458.c56298","name":"","group":"475fa9aa.e8e618","order":1,"width":"7","height":"5","gtype":"gage","title":"Nuevos Muertos","label":"","format":"{{value}}","min":0,"max":"10000","colors":["#ee7b00","#e43135","#f23030"],"seg1":"","seg2":"","x":1300,"y":560,"wires":[]},{"id":"b38698c4.269dc8","type":"function","z":"e609e458.c56298","name":"","func":"muertes = 0;\n\nmsg.payload.Countries.map(function(line){\n    muertes += line.NewDeaths;\n});\n\nmsg.payload = muertes;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":560,"wires":[["268edd5d.b434a2"]]},{"id":"71d3748f.d8d76c","type":"function","z":"e609e458.c56298","name":"","func":"recuperados = 0;\n\nmsg.payload.Countries.map(function(line){\n    recuperados += line.NewRecovered;\n});\n\nmsg.payload = recuperados;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":640,"wires":[["7de836e6.976088"]]},{"id":"f27457f.a9875a8","type":"ui_text","z":"e609e458.c56298","group":"853193c7.27136","order":3,"width":"7","height":"1","name":"","label":"Países Afectados:","format":"{{value}}","layout":"row-center","x":1310,"y":400,"wires":[]},{"id":"18cce53a.88756b","type":"ui_toast","z":"e609e458.c56298","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Datos actualizados","name":"Notifiación Actualización","x":750,"y":780,"wires":[]},{"id":"dc1e0614.8307a8","type":"comment","z":"e609e458.c56298","name":"COVID-19 Global","info":"","x":800,"y":400,"wires":[]},{"id":"22066ddf.f054f2","type":"comment","z":"e609e458.c56298","name":"COVID-19 España","info":"","x":810,"y":980,"wires":[]},{"id":"f9a91133.83116","type":"ui_gauge","z":"e609e458.c56298","name":"","group":"7b1b2964.259cb8","order":3,"width":"7","height":"5","gtype":"gage","title":"Recuperados","label":"","format":"{{value}}","min":0,"max":"200000","colors":["#c22f0c","#e6e600","#00be00"],"seg1":"","seg2":"","x":1290,"y":320,"wires":[]},{"id":"517a9805.9a1f58","type":"ui_gauge","z":"e609e458.c56298","name":"","group":"2c7ebe7.8ac4d42","order":2,"width":"7","height":"5","gtype":"gage","title":"Nuevos Confirmados","label":"","format":"{{value}}","min":0,"max":"100000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1320,"y":480,"wires":[]},{"id":"7de836e6.976088","type":"ui_gauge","z":"e609e458.c56298","name":"","group":"ff5d5575.8b0e68","order":3,"width":"7","height":"5","gtype":"gage","title":"Nuevos Recuperados","label":"","format":"{{value}}","min":0,"max":"20000","colors":["#c22f0c","#e6e600","#00be00"],"seg1":"","seg2":"","x":1320,"y":640,"wires":[]},{"id":"cf17e4fb.ff0e78","type":"ui_gauge","z":"e609e458.c56298","name":"","group":"6632e27a.115dbc","order":2,"width":"7","height":"5","gtype":"gage","title":"Nuevos Confirmados","label":"","format":"{{value}}","min":0,"max":"50000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1320,"y":1020,"wires":[]},{"id":"9191f057.6f7f9","type":"ui_gauge","z":"e609e458.c56298","name":"","group":"1ca93704.e6a019","order":3,"width":"7","height":"5","gtype":"gage","title":"Nuevos Recuperados","label":"","format":"{{value}}","min":0,"max":"10000","colors":["#c22f0c","#e6e600","#00be00"],"seg1":"","seg2":"","x":1320,"y":1180,"wires":[]},{"id":"4c4ff0db.ffe1","type":"function","z":"e609e458.c56298","name":"","func":"\nmsg.payload = msg.payload.Date;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1260,"wires":[["ae258def.7dacf"]]},{"id":"ae258def.7dacf","type":"ui_text","z":"e609e458.c56298","group":"d28a094c.0f68d8","order":2,"width":"7","height":"1","name":"","label":"Actualización:","format":"{{value}}","layout":"col-center","x":1300,"y":1260,"wires":[]},{"id":"ee743a8d.e646c8","type":"ui_group","z":"","name":"","tab":"2ac30246.52ee1e","order":2,"disp":true,"width":"7","collapse":false},{"id":"1d7cabf3.8d6a94","type":"ui_group","z":"","name":"","tab":"2ac30246.52ee1e","order":3,"disp":true,"width":"7","collapse":false},{"id":"ea0b60f1.345db","type":"ui_group","z":"","name":"","tab":"5a074eef.dcc89","order":3,"disp":true,"width":"7","collapse":false},{"id":"61b31bac.a357f4","type":"ui_group","z":"","name":"","tab":"5a074eef.dcc89","order":4,"disp":true,"width":"7","collapse":false},{"id":"d1100ab5.7f5848","type":"ui_group","z":"","name":"","tab":"5a074eef.dcc89","order":5,"disp":true,"width":"7","collapse":false},{"id":"48daddd6.8f47f4","type":"ui_group","z":"","name":"","tab":"5a074eef.dcc89","order":7,"disp":true,"width":"7","collapse":false},{"id":"475fa9aa.e8e618","type":"ui_group","z":"","name":"","tab":"2ac30246.52ee1e","order":6,"disp":true,"width":"7","collapse":false},{"id":"853193c7.27136","type":"ui_group","z":"","name":"","tab":"2ac30246.52ee1e","order":1,"disp":true,"width":"21","collapse":false},{"id":"7b1b2964.259cb8","type":"ui_group","z":"","name":"","tab":"2ac30246.52ee1e","order":4,"disp":true,"width":"7","collapse":false},{"id":"2c7ebe7.8ac4d42","type":"ui_group","z":"","name":"","tab":"2ac30246.52ee1e","order":5,"disp":true,"width":"7","collapse":false},{"id":"ff5d5575.8b0e68","type":"ui_group","z":"","name":"","tab":"2ac30246.52ee1e","order":7,"disp":true,"width":"7","collapse":false},{"id":"6632e27a.115dbc","type":"ui_group","z":"","name":"","tab":"5a074eef.dcc89","order":6,"disp":true,"width":"7","collapse":false},{"id":"1ca93704.e6a019","type":"ui_group","z":"","name":"","tab":"5a074eef.dcc89","order":8,"disp":true,"width":"7","collapse":false},{"id":"d28a094c.0f68d8","type":"ui_group","z":"","name":"","tab":"5a074eef.dcc89","order":1,"disp":true,"width":"21","collapse":false},{"id":"2ac30246.52ee1e","type":"ui_tab","z":"","name":"Covid-19 Mundo","icon":"dashboard","disabled":false,"hidden":false},{"id":"5a074eef.dcc89","type":"ui_tab","z":"","name":"Covid-19 España","icon":"dashboard","order":7,"disabled":false,"hidden":false}]